<head>
    <title>{{ page.title }} | {% if page.class == 'index' %} {{ site.claim }} {% else  %} {{ site.title }}{% endif  %}
</title>
    <meta charset="utf-8" />
    <meta name="viewport"     content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="canonical"            href="{{ page.url | absolute_url }}" />
    <meta     name="thumbnail"       content="{{ site.og_img | absolute_url }}" />
    <meta     name="keyword"         content="{{ site.keyword }}" />
    <meta     name="description"     content="{{ site.og_desc }}" />
    <meta property="og:title"        content="{{ page.title }}" />
    <meta property="og:type"         content="website" />    
    <meta property="og:description"  content="{{ site.og_desc }}"" />
    <meta property="og:image"        content="{{ site.og_img | absolute_url }}" />
    <meta property="og:image:width"  content="{{site.og_img_w}}" />
    <link rel=icon href=/assets/img/favicon.ico type=image/x-icon>
    <script src="https://use.fontawesome.com/b4b35c88c8.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Simonetta:400,400i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/screen.css" >        
    {%- include google-analytics.html -%}
</head>
