<nav class="menu-top">
    
    <a title="Vai a: {{page.previous.title}}" 
        {% if page.previous %}
        href="{{page.previous.url}}" 
        class="left"
        {% else %}
        href="Javascript:void(0);" 
        class="left inattivo"
        {% endif %}
       >
       <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
    </a>
    
    <a href="/" class="center" title="Torna alla home-page">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
    <a href="/man/indice" class="center" title="Torna all'indice del Manuale">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </a>

    <a title="Vai a: {{page.next.title}}" 
        {% if page.next %}
        href="{{page.next.url}}" 
        {% else %}
        href="/man/" 
        {% endif %}
        class="right" 
        >
        <i class="fa fa-chevron-right  fa-2x" aria-hidden="true"></i>
    </a>
    
</nav>
