<nav class="menu-top">
        <a id="home"
            title="Va' alla pagina iniziale"
            href="/">
            <span>Home</span>
            <i class="fa fa-home fa-2x"></i>
        </a>
        <a id="man"
            title="Leggi il libro"
            href="/man/">
            <span>Manuale</span>
            <i class="fas fa-book fa-2x"></i>
        </a>
        <a id="github"
            title="Va' al progetto su GitHub"
            target="github"
            href="{{ site.url_github }}">
            <span>GitHub</span>
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a id="man"
            title="Leggi il diario di bordo"
            href="/log/">
            <span>Log</span>
            <i class="fas fa-file-signature fa-2x"></i>
        </a>
</nav>
