<nav class="menu-top">
    <a id="home"
        title="Vai alla pgina iniziale"
        href="/"
        >Home <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <a id="man"
        title="Leggi il libro"
        href="/man/"
        >Manuale <i class="fa fa-book" aria-hidden="true"></i>
    </a>
    <a id="download" {% if page.url == "/download/" %}class="corrente"{% endif %}
        title="Leggi il Manifesto"
        href="/manifesto/"
        >Manifesto <i class="fa fa-file-pdf-o"></i>
    </a>
    <a id="github"
        title="Va' al progetto su GitHub"
        target="github"
        href="https://github.com/chi-plus-plus/chi-plus-plus"
        >GitHub <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a id="faq" {% if page.url == "/faq/" %}class="corrente"{% endif %}
        title="Domande frequenti"
        href="/faq/"
        >FAQ <i class="fa fa-question-circle-o"></i>
    </a>
</nav>
