$backgroundColor: #ffffff ;
$bodyColor: #000000 ;
$bodyFont: Simonetta, Calibri, Arial, sans-serif ;
$bodyFontSize: 15pt ;

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0
}

.bianconero {
 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);
}

.box {
 font-size: 0;
 position: relative;
 display: inline-block;
}

.fa {
 margin-left: 0.25rem;
 color: #888
}

/**
 *
 *  Stili di base.
 *
 */

H1, H2, H3, H4 {
    margin: auto;
}

H1 {
    font-size: 2rem;
}

H2 {
    margin-top: 1rem;
    font-variant-caps: petite-caps;
    font-size: 1.6rem
}

H3 {
    font-size: 1.4rem;
    margin-top: 1rem;
}

H4 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

HR {
    border: none;
    text-align: center;
    margin: 0.5rem auto;
}

HR:before {
 content: '氣';
}

P {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


P.newpage {
  page-break-after: always;
}

CODE, PRE {
 text-align: left;
 background-color: #e4e6c1;
 font-size: 10pt;
 font-family: Monaco;
}

I {
 color: #555;
}

A {
 color: #333;
}

DIV {
 display: inline-block;
}

TABLE, TD, TR {
 border-collapse: collapse;
 border: solid 1px #999;
 padding: 0.25rem 0.5rem;
}

UL {
list-style-type: square;
}
OL {
 padding: 0 2rem;
 margin: 1rem 0;
}

/**
 *
 *  Stili per il corpo della pagina.
 *
 */
HTML {
}

BODY {
    background-color: #d0d0d0;
    color: $bodyColor;
    font-family: $bodyFont;
    font-size: $bodyFontSize;
    text-align: center;
}

DIV#page {
    background-color: #c1e3e6;
    padding: 1rem 1rem 3rem 1rem;
    position: relative;
    display: block;
    max-width: 36rem;
    margin: auto;
}

HEADER {
    background-color: #d0d0d0;
}

HEADER DIV.box.intestazione {
    width: 100%;
    text-align: left;
}

HEADER img.logo {
    height: 80px;
    width: 130px;
    display: inline-block;
    float: left;
    padding: 0 1rem;
}

FOOTER {
    background-color: #a0a0a0;
    padding: 0.5rem 0;
}


/**
 *
 *  Stili dei menu
 *
 */
NAV {
     border-top: solid 1px;
     display: inline-block;
     border-bottom: solid 1px;
     border-color: #990;
     width: 100%;
}

NAV A {
    font-variant-caps: petite-caps;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 0.75rem;
}


MAIN {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: justify;
    position: relative;
    padding-top: 1rem
}

MAIN P+P {
    margin-top: 1rem;
}

MAIN.bozza {
    background-color: #f0f0f0;
    padding: 5rem 1rem;
}

MAIN.bozza::before {
 content: "BOZZA";
 font-size: 1rem;
 font-weight: bold;
 position: absolute;
 top: 2rem;
 left: 2rem;
 font-family: Monaco;
}

MAIN P.immagine {
 margin: 1rem auto;
 text-align: center
}

MAIN P.immagine.chi {
 margin: 0.5rem auto;
}

MAIN P.immagine IMG {
 border: solid 1px #999;
 text-align: center;
 max-width: 100%;
}

MAIN BLOCKQUOTE {
 color: #444;
 text-align: left;
 font-size: 14pt;
 padding: 1em;
 font-style: italic
}


.titolo-1 {
    font-size: 2rem;
    font-weight: bold;
}
.titolo-2 {
    font-size: 1.4rem;
    font-weight: bold;
}

/**
 *  Stili per le pagine normali
 */
 BODY.pagina HEADER DIV.box.titoli {
    padding: 0.5rem 0;
    width: calc(100% - 130px);
 }

 BODY.pagina HEADER titolo-2 {
     margin-top: 0;
     padding-bottom: 0;
     font-size: 1.4rem
 }

BODY.faq SECTION {
    padding: 1rem;
}

/**
 *
 *  Stili per la pagina index 
 *
 */
BODY.index HEADER DIV.box.intestazione {
    text-align: center;
}
 
BODY.index HEADER DIV.box.titoli {
    padding: 1rem 0;
}

BODY.index HEADER titolo-1, 
BODY.manuale.copertina HEADER titolo-1 {
    padding: 1rem 0;
    text-align: center;
    display: block;
}

BODY.index HEADER titolo-2 {
    margin-bottom: 0.5rem;
    line-height: unset;
    float: none;
}

BODY.index HEADER img.logo {
    width: 240px;
    height: auto;
    max-width: 90%;
    float: none;
}


/**
 *  Stili per il manuale
 */
 BODY.manuale.copertina HEADER img.logo {
     margin-top: 5vh;
 }

 
 BODY.manuale.copertina HEADER DIV.box.intestazione {
     height: auto;
     text-align: center;
 }
 BODY.manuale.copertina HEADER titolo-1 {
     padding: 1rem 0;
     text-align: center;
     display: block;
 }

 BODY.manuale.copertina HEADER titolo-2 {
     margin-bottom: 0.5rem;
     line-height: unset;
     float: none;
 }

 BODY.manuale.copertina HEADER img.logo {
     width: 240px;
     height: auto;
     max-width: 90%;
     float: none;
     margin-top: 2rem;
 }

 BODY.manuale.copertina HEADER img.logo {
     margin-top: 5vh;
 }
 
BODY.manuale {
/*
    padding-top: 1rem;
    */
    height: 90vh;
}

BODY.manuale HEADER titolo-2 {
    float: unset
}

BODY.manuale.copertina MAIN {
    text-align: center;
}

BODY.manuale MAIN PRE {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    white-space: pre-wrap;
}

BODY.manuale SECTION#testo P:first-of-type:first-letter {
    font-weight: bold;
}

BODY.manuale FOOTER {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

BODY.manuale FOOTER NAV {
    width: auto
}

BODY.manuale.copertina {
/*
    padding-top: 2rem
*/
}

BODY.manuale.dedica MAIN {
    margin: 15vh auto 15vh auto;
}

BODY.manuale.dedica MAIN P {
    text-align: center;
    max-width: 20rem;
    margin: auto
}

BODY.manuale.indice H3.bozza A {
    color: #999
}

BODY.manuale.indice H3 {
    margin: 1rem 0
}

BODY.manuale.indice H3.home {
    margin-top: 4rem;
}

BODY.manuale.indice MAIN {
 width: auto;
 text-align: center
}

BODY.manuale.indice IMG.logo {
 width: 100px;
 margin: auto
}

BODY.manuale.indice SECTION.indice {
 text-align: center;
}

BODY.manuale MAIN P A {
 color: #990;
}

BODY.manuale MAIN UL {
 margin: 1rem 0;
 padding-left: 2.5rem;
}

BODY.manuale BLOCKQUOTE.incluso {
 color: #543;
 text-align: justify;
 padding: 1rem;
 background: #e4e6c1;
 margin: 1rem 0;
}

BODY.manuale BLOCKQUOTE.motto {
 text-align: right;
 padding: 2rem 0 5rem 0;
 font-size: 0.9em
}

BODY.manuale IMG.logo {
 width: 300px;
 max-width: 90%;
 display: inline-block;
}

/** Tabella per le aree di memoria */
TABLE.memoria {
 margin-bottom: 1rem;
}

TABLE.memoria TR {
 background: inherit;
 font-family: Monaco;
 font-size: 10pt;
}

TABLE.memoria TD {
 width: 20px;
 height: 20px;
}

TABLE.memoria TD.area {
 background: #aaa;
}

IFRAME.pdf {
    width: 100%;
    height: 780px;
}
/**
 *  Stili per mobile
 */
@media only screen and (max-width: 420px) {

    BODY {
    }
    DIV#page {
        padding: 0rem 0.5rem;
    }
    H1 {
        font-size: 1.75rem;
    }
    H2 {
        font-size: 1.2rem
    }
    BODY.pagina HEADER titolo-1 {
        font-size: 1.5rem;
    }
    BODY.pagina HEADER titolo-2 {
        font-size: 1rem;
    }
    BODY.index HEADER DIV.box.titoli, 
    BODY.manuale.copertina HEADER DIV.box.titoli {
        width: auto;    
    }
    BODY.index HEADER titolo-1, 
    BODY.manuale.copertina HEADER titolo-1 {
        padding: 0;
    }
    BODY.index HEADER img.logo, 
    BODY.manuale.copertina HEADER img.logo {
        width: 200px;
        height: auto;
    }
    NAV.menu-top {
        padding: 0 1rem;
    }
    NAV.menu-top A {
        font-size: 14pt;
    }
    DIV.testo P {
        text-align: left
    }

}
