
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0
}

.titolo {
    font-size: 1.2rem;
    font-weight: bold;
}

.box {
    font-size: 0;
    position: relative;
    display: inline-block;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}
.centrato {
    text-align: center !important;
}

BODY {
	background: #fdfdfd;
	color: #111;
	font-family: "Bookerly", Arial, sans-serif;
	font-size: 13pt;
	margin: 1cm 1cm 2cm 1cm;
	text-align: justify;
	line-height: 1.4;
	background-color: white;
	margin: auto;
}

H1, H2, H3, H4 {
		color: #000000;
    margin: auto;
}
H1 {
    font-size: 2rem;
}

/**
*	Corregge l'errore nella visualizzazion del titolo
*/
H1.title {
	display: none;
}
H2 {
    font-size: 1.6rem;
    font-variant-caps: petite-caps;
    margin-top: 1rem;
}
H3 {
    font-size:  1.4rem;
    margin-top: 1rem;
}
H4 {
    font-size: 1.2rem;
    margin-top: 1rem;
}
HR {
    border: none;
    text-align: center;
    margin: 0.5rem auto;
}
HR:before {
 content: '氣';
}
A {
		color: #000;
		text-decoration: none;
}
CODE, PRE, P.code {
		background-color: #f0f0f0;
		text-align: left;
		font-size: 11pt;
		font-family: Inconsolata, monospace;
		line-height: 1.1;
}

/* utilizzato per istruzioni iterative */
LI CODE {
    font-size: initial;
}
EM, I, B, STRONG  {
    color: #550;
    font-size: inherit;
    /**
    *   todo: capire perché c'è questo attributo settato
    *   e possibilmente rimuoverlo, unendo B al gruppo

    font-family: initial;
    */
}
P {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
P.newpage {
  page-break-after: always;
}
/** Stili per le citazion dal Metta Sutra */
P.metta {
    padding-left: 1rem;
}
P.metta I {
    display: inline-block;
    width: 6.5rem;
}
P CODE {
    padding: 0 0.25rem;
    font-size: 12pt;
}
A {
    color: #444;
}
A.nota {
    font-size: 0.8rem;
    color: #990;
    text-decoration: underline;
    vertical-align: super;
    display: inline-block;
    margin-left: 2px;
}
/** Numerazione automatica solo nel Manuale */
A.nota::after {
    counter-increment: note-pagina;
    content: counter(note-pagina);
}
A.more {
    font-weight: bold;
    font-size: 0.9rem;
    color: #550;
}
SUP {
    font-size: 0.7em;
    vertical-align: super;
    line-height: 0;
}
UL {
    list-style-type: square;
    margin: 1rem 2rem;
}
OL {
    padding: 0 2rem;
    margin: 1rem 0;
}
LI {
    text-align: left;
}
IMG.badge {
    height: 1.2rem;
}

DIV#cane-lele{
    display: block;
    text-align: center;
    margin-top: 3rem;
}
DIV#cane-lele IMG {
    width: 300px;
    padding: 0.5rem;
    border: solid 1px #550;
}
TABLE, TD, TR, TH {
    border-collapse: collapse;
    border: solid 1px #999;
    padding: 0.25rem 0.5rem;
    margin: 1rem auto;
    font-size: 11pt;
}

TABLE TH {
    font-weight: bold;
    text-align: center !important;
}

SECTION.indice {
 text-align: center;
}
SECTION.indice H1 {
    margin: 3rem 0 2rem 0;
}
SECTION.indice .capitolo {
    display: inline-block;
    width: 420px;
    margin: 1rem 0;
}
SECTION.indice .capitolo P {
    font-size: 0.95em;
    color: #888;
    font-style: italic;
    text-align: left;
}
SECTION.indice HR {
    margin: 2rem 0
}
SECTION.indice H3 {
    margin: 0 auto;
    position: relative;
/*    font-size: 1.3rem; */
}
SECTION.indice H3.home {
    margin-top: 4rem;
}
SECTION.indice {
 width: auto;
 text-align: center
}
SECTION.indice IMG.logo {
    width: 100px;
    margin: auto
}
SECTION.indice IMG.badge
{
    position: absolute;
    top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}

H1 {
    margin: 4rem 0 2rem 0;
    text-align: center;
}
/** Nasconde il link alla dottrina */
H1 A {
    text-decoration: none;
}
P.code,
PRE {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    overflow: auto;
}
P A {
    color: #550;
}
UL {
    margin: 1rem 0;
    padding-left: 2.5rem;
}

/**
 *  Le citazioni devono essere centrate, ma quelle estese
 *  possono essere giustificate
 */
BLOCKQUOTE {
    color: #333;
    padding: 1em;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}

BLOCKQUOTE P {
	font-style: italic;
}

/** Stile per le citazioni in testa */
H1 + BLOCKQUOTE {
    text-align: right;
    padding: 2rem 0 4rem 33%;
    font-size: 0.9em
}

SECTION.testo BLOCKQUOTE {
    color: #543;
    text-align: justify;
    padding: 1rem 3rem;
    margin: 1rem 0;
		font-style: italic;
		background-color: #f0f0f0;
}

BLOCKQUOTE H3 {
    font-size: 1.2rem;
}

/** Tabelle nel testo */
TABLE.memoria TD {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    width: 24px;
    height: 24px;
}
TABLE.memoria TD.area {
    background: #bbb;
}

TABLE.rgb,
TABLE.rgb TR {
    border: none;
}
TABLE.rgb TD {
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 10pt;
    width: 30px;
    height: 30px;
}

TABLE.rgb TD:nth-child(1) {
    border: solid 1px #999;
}
TABLE.rgb TD:nth-child(2) {
    min-width: 10rem;
}

DIV[id^="banner"] {
    display: block;
    height: 100px;
    width: 200px;
    border: solid 1px #999;
    margin: 1rem auto;
    background-color: #aaa;
}
/**  Dedica e citazione in testa */
DIV.corpo BLOCKQUOTE P {
    font-style: italic;
    font-size: 1rem;
		margin: 0;
		padding-top: 5cm;
    text-align: center;
		white-space: nowrap;
}

@media print {
  h1 {
    page-break-before: always;
  }

	SECTION.dedica {
			page-break-before: always;
	}
}
