$bodyFont:          Simonetta, serif ;
$codeFont:          'Inconsolata', monospace;
$bodyBackground:    #ffffff ;
$bodyColor:         #000000 ;
$bodyFontSize:      15pt ;
$colorGold:         #550 ;
$codeBackground:    #e8e8de ;
$aColor:            #444 ;
$aNotaColor:        #990 ;
$borderColor:       #999 ;
$tdAreaBackground:  #bbb ;
$bozzaRedazione:    #e8f2f5;
$bozzaBackground:   #c1e3e6 ;
$bozzaAColor:       #999;
$dataColor:         #666;
$blockquoteColor:   #550;
$inclusoColor:      #543;
$inclusoBackground: #e8e8de;   
$h3CopertinaColor:  #444 ;
$dogmiColor:        #550 ;
$domandeColor:      #550 ;
$fontSizeH1:        2rem; 
$fontSizeH2:        1.6rem; 
$fontSizeH3:        1.4rem; 
$fontSizeH4:        1.2rem; 

@import "stili";

DIV.page {
    text-align: center;
}
DIV.page.dedica{
    max-width: 22rem;
    margin: auto
}
DIV.page.manuale{
}

IMG.logo {
    width: 300px;
}

SECTION.testo P {
    text-align: justify;
    line-height: 1.5;
}
H1 {
    text-align: center;
}
SECTION.corpo > BLOCKQUOTE {
    text-align: right;
    padding: 2rem 0 4rem 33%;
    font-size: 0.9em;
    color: #550;
    font-style: italic;
    line-height: 1.5;
}

BLOCKQUOTE.incluso {
    color: #543;
    text-align: justify;
    padding: 1rem;
    background-color: #e8e8de;
    margin: 1rem 0;
}

P.code, PRE {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    overflow: auto;
}


TABLE.rgb,
TABLE.rgb TR {
    border: none;
}
TABLE.rgb TD {
    border: none;
    font-family: $codeFont;
    font-size: 10pt;
    width: 30px;
    height: 30px;    
}

TABLE.rgb TD:nth-child(1) {
    border: solid 1px $borderColor;
}
TABLE.rgb TD:nth-child(2) {
    min-width: 10rem;
}
