$bodyBackground:    #ffffff ;
$bodyColor:         #000000 ;
$bodyFont:          Simonetta, Calibri, Arial, sans-serif ;
$bodyFontSize:      15pt ;
$colorGold:         #550 ;
$codeBackground:    #e8e8de ;
$aColor:            #444 ;
$borderColor:       #999 ;
$tdAreaBackground:  #aaa ;
$bozzaBackground:   #c1e3e6 ;
$bozzaAColor:       #999;
$blockquoteColor:   #555;
$inclusoColor:      #543;
$inclusoBackground: #e8e8de;   
@import "stili";
