$bodyFont:          Simonetta, Calibri, Arial, sans-serif ;
$codeFont:          'Inconsolata', monospace;
$bodyBackground:    #ffffff ;
$bodyColor:         #000000 ;
$bodyFontSize:      15pt ;
$colorGold:         #550 ;
$codeBackground:    #e8e8de ;
$aColor:            #444 ;
$aNotaColor:        #990 ;
$borderColor:       #999 ;
$tdAreaBackground:  #bbb ;
$bozzaRedazione:    #e8f2f5;
$bozzaBackground:   #c1e3e6 ;
$bozzaAColor:       #999;
$blockquoteColor:   #550;
$inclusoColor:      #543;
$inclusoBackground: #e8e8de;   
$h3CopertinaColor:  #444 ;
$dogmiColor:        #550 ;
$domandeColor:      #550 ;


@import "stili";
