$aColor:            #550 ;
$aNotaColor:        #990 ;
$blockquoteColor:   #550;
$bodyBackground:    #ffffff ;
$bodyColor:         #000000 ;
$bodyFont:          Simonetta, serif ;
$borderColor:       #999 ;
$bozzaAColor:       #999;
$bozzaBackground:   #c1e3e6 ;
$bozzaRedazione:    #e8f2f5;
$codeBackground:    #e8e8de ;
$codeFont:          'Inconsolata', monospace;
$colorGold:         #550 ;
$dataColor:         #666;
$dogmiColor:        #550 ;
$domandeColor:      #550 ;
$fontSizeBody:      16pt ;
$fontSizeMenu:      14pt ;
$fontSizeH1:        2rem;
$fontSizeH2:        1.6rem;
$fontSizeH3:        1.4rem;
$fontSizeH4:        1.2rem;
$h3CopertinaColor:  #444 ;
$inclusoBackground: #e8e8de;
$inclusoColor:      #543;
$tdAreaBackground:  #bbb ;

@import "stili";
