
@font-face {
  font-family: Inconsolata;
  src: url(/assets/fonts/Inconsolata-Regular.ttf);
  unicode-range: U+0025-00FF; 
}
@font-face {
  font-family: Inconsolata;
  src: url(/assets/fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-Regular.ttf);
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-Italic.ttf);
  font-style: italic, oblique;
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-BlackItalic.ttf);
  font-style: italic, oblique;
  font-weight: bold;
}



* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0
}

.titolo {
    font-size: 1.2rem;
    font-weight: bold;
}
/*
.titolo-1 {
    font-size: 1.8rem;
    font-weight: bold;
}
.titolo-2 {
    font-size: 1.2rem;
    font-weight: bold;
}
*/
.box {
    font-size: 0;
    position: relative;
    display: inline-block;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

/**
 *
 *  Stili di base.
 *
 */

H1, H2, H3, H4 {
    margin: auto;
}
H1 {
    font-size: 2rem;
}
H2 {
    margin-top: 1rem;
    font-variant-caps: petite-caps;
    font-size: 1.6rem
}
H3 {
    font-size: 1.4rem;
    margin-top: 1rem;
}
BLOCKQUOTE H3 {
    font-size: 1.2rem;
}
H4 {
    font-size: 1.2rem;
    margin-top: 1rem;
}
HR {
    border: none;
    text-align: center;
    margin: 0.5rem auto;
}
HR:before {
 content: '氣';
}
CODE, PRE {
    background-color: $codeBackground;
    text-align: left;
    font-size: 10pt;
    font-family: $codeFont;
    line-height: 1;
}
EM, I {
    color: $colorGold;
    font-size: inherit;
    font-family: initial;
}
P {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
P.newpage {
  page-break-after: always;
}
/** Stili per le citazion dal Metta Sutra */
P.metta {
    padding-left: 1rem;
}
P.metta I {
    display: inline-block;
    width: 6.5rem;
}
P CODE {
    padding: 0 0.25rem;
    font-size: 0.85em;
}
A {
    color: $aColor;
}
A.nota {
    font-size: 0.8rem;
    color: $colorGold;
    text-decoration: underline;
    vertical-align: super;
    display: inline-block;
    margin-left: 0.12rem; 
}
A.more {
    font-weight: bold;
    font-size: 0.9rem;
    color: $colorGold;
}
SUP {
    font-size: 0.7em;
    vertical-align: super;
    line-height: 0;
}
DIV {
 display: inline-block;
}
UL {
    list-style-type: square;
    margin: 1rem 2rem;
}
OL {
    padding: 0 2rem;
    margin: 1rem 0;
}
LI {
    text-align: left;
}
IMG.badge {
    height: 1.2rem;
}
TABLE, TD, TR, TH {
    border-collapse: collapse;
    border: solid 1px $borderColor;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0;
    font-size: 11pt;   
}

TABLE TH {
    font-weight: bold;
    text-align: center;
}


/**
 *
 *  Stili per il corpo della pagina.
 *
 */
BODY {
    background-color: $bodyBackground;
    color: $bodyColor;
    font-family: $bodyFont;
    font-size: $bodyFontSize;
    text-align: center;
}

DIV#page {
    padding: 1rem 1rem 5rem 1rem;
    position: relative;
    display: block;
    max-width: 36rem;
    margin: auto;
}

HEADER {
}

HEADER DIV.box.intestazione {
    width: 100%;
    text-align: left;
}

HEADER DIV.box.intestazione {
    width: 100%;
    padding-bottom: 1rem;
    text-align: left;
}

HEADER img.logo {
    width: 180px;
    height: auto;
    float: none;
}

FOOTER {
    padding: 3rem 0 0 0;
}


/**
 *
 *  Stili dei menu
 *
 */
NAV {
     border-top: solid 1px;
     display: inline-block;
     border-bottom: solid 1px;
     border-color: $colorGold;
     width: 100%;
     font-size: 0;
     margin: 1rem 0;
}
NAV A {
    font-variant-caps: petite-caps;
    font-size: 13pt;
    font-weight: bold;
    display: inline-block;
}

HEADER NAV.menu-top A {
    padding: 0.5rem 1.2rem;
}
FOOTER NAV {
    border: none;    
}

/**
 *
 *  Stili per il corpo della pagina.
 *
 */
MAIN {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: justify;
    position: relative;
    padding-top: 1rem;
    line-height: 1.5;
}

MAIN P+P {
    margin-top: 1rem;
}


MAIN.redazione {
    padding: 5rem 1rem;    
    background-color: $bozzaRedazione;
}
MAIN.bozza {
    background-color: $bozzaBackground;
    padding: 5rem 1rem;    
}

MAIN.bozza::before ,
MAIN.redazione::before {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-family: $codeFont;
}

MAIN.bozza::before {
    content: "BOZZA";
}
MAIN.redazione::before {
    content: "REDAZIONE";
}


MAIN P.immagine {
    margin: 1rem auto;
    text-align: center
}

MAIN P.immagine.chi {
    margin: 0.5rem auto;
}

MAIN P.immagine IMG {
    border: solid 1px $borderColor;
    text-align: center;
    max-width: 100%;
}

MAIN BLOCKQUOTE {
    color: $blockquoteColor;
    text-align: left;
    font-size: 14pt;
    padding: 1em;
    font-style: italic;
    line-height: 1.5;
}

/**
 *  Stili per le pagine normali
 */
 /*
BODY.pagina HEADER DIV.box.titoli {
    padding: 0.5rem 0;
    width: calc(100% - 130px);
}

BODY.pagina HEADER titolo-2 {
    margin-top: 0;
    padding-bottom: 0;
    font-size: 1.4rem
}
*/
BODY.pagina H1 {
    margin: 1rem 0 3rem 0;
    text-align: center;
}

BODY.pagina.index H1 {
    display: none;
}
/*
/**
 *  Stili per le FAQ
 
BODY.faq DIV.faq {
    padding: 1rem 0;
}

BODY.faq DIV.faq A {
    text-decoration: none;
}

BODY.faq DIV.faq A {
    text-decoration: none;
}
*/
/**
 *
 *  Stili per la pagina index 
 *
 */
 /*
BODY.index HEADER DIV.box.intestazione {
    text-align: center;
    padding: 0;
}
 
BODY.index HEADER DIV.box.titoli {
    padding: 1rem 0;
}

BODY.index HEADER titolo-1, 
BODY.manuale.copertina HEADER titolo-1 {
    padding: 1rem 0;
    text-align: center;
    display: block;
}

BODY.index HEADER titolo-2 {
    margin-bottom: 0.5rem;
    line-height: unset;
    float: none;
}

BODY.index HEADER img.logo {
    width: 180px;
    height: auto;
    float: none;
}
*/
BODY.index MAIN SECTION.citazione.pagina {
    padding-top: 3rem;
}

/**
 *
 *  Stili per il manuale
 *
 */
BODY.manuale DIV#page {
    min-height: 90vh;
}

BODY.manuale HEADER titolo-2 {
    float: unset
}

BODY.manuale HEADER DIV.box.titoli {
    width: 100%;    
}

BODY.manuale HEADER NAV.menu-top {
    border: none;    
}

BODY.manuale HEADER NAV.menu-top A {
    padding: 0.5rem 0;
}
BODY.manuale HEADER NAV.menu-top A.center {
    padding: 0.5rem 1rem;
}

BODY.manuale FOOTER {
}

BODY.manuale.copertina MAIN {
    text-align: center;
    margin-top: 10%;
}

BODY.manuale.copertina MAIN IMG {
    padding: 3rem 0;
}

BODY.manuale.copertina MAIN H2 {
    padding: 0;
}

BODY.manuale.dedica MAIN {
    margin: 20vh auto;
}
BODY.manuale.dedica MAIN P {
    text-align: center;
    max-width: 22rem;
    margin: auto
}
BODY.manuale.indice H3.bozza A {
    color: $bozzaAColor;
}
BODY.manuale.indice HR {
    margin: 2rem 0
}
BODY.manuale.indice H3 {
    margin: 1rem 0;
    position: relative;
    font-size: 1.3rem;
}

BODY.manuale.indice H3.home {
    margin-top: 4rem;
}

BODY.manuale.indice MAIN {
 width: auto;
 text-align: center
}

BODY.manuale.indice IMG.logo {
    width: 100px;
    margin: auto
}

BODY.manuale.indice IMG.badge
{
    position: absolute;
    top: 0.5rem;
    margin-left: 1rem;
}

BODY.manuale.indice SECTION.indice {
 text-align: center;
}

BODY.manuale H1 {
    margin: 4rem 0 2rem 0;
    text-align: center;
}

BODY.manuale MAIN PRE {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    overflow: auto;
}

BODY.manuale MAIN P A {
    color: $colorGold;
}

BODY.manuale MAIN UL {
    margin: 1rem 0;
    padding-left: 2.5rem;
}

BODY.manuale BLOCKQUOTE.incluso {
    color: $inclusoColor;
    text-align: justify;
    padding: 1rem;
    background-color: $inclusoBackground;
    margin: 1rem 0;
}

BODY.manuale BLOCKQUOTE.motto {
    text-align: right;
    padding: 2rem 0 4rem 33%;
    font-size: 0.9em
}

BODY.manuale IMG.logo {
 width: 300px;
 max-width: 90%;
 display: inline-block;
}

IFRAME.pdf {
    width: 100%;
    height: 780px;
}

/** Tabelle nei capitoli */
BODY.manuale.capitolo #testo TABLE {
    margin: 1rem auto;
}
    
BODY.manuale.capitolo #testo TABLE.memoria TD {
    font-family: $codeFont;
    font-size: 10px;
    width: 24px;
    height: 24px;
}
BODY.manuale.capitolo #testo TABLE.memoria TD.area {
    background: $tdAreaBackground;
}

BODY.manuale.capitolo #testo TABLE.rgb,
BODY.manuale.capitolo #testo TABLE.rgb TR {
    border: none;
}
BODY.manuale.capitolo #testo TABLE.rgb TD {
    border: none;
    font-family: $codeFont;
    font-size: 10pt;
    width: 30px;
    height: 30px;    
}

BODY.manuale.capitolo #testo TABLE.rgb TD:nth-child(1) {
    border: solid 1px $borderColor;
}
BODY.manuale.capitolo #testo TABLE.rgb TD:nth-child(2) {
    min-width: 10rem;
}

/* Equazione di Einstein  */
.einstein P {
    padding: 0.25rem 1rem;
    font-size: 2rem;
}

/** Titoli numerati */
BODY.proposta MAIN h1 {
    counter-reset: h2;
}
BODY.proposta MAIN h2 {
    counter-reset: h3;
    padding-top: 1rem;
}
BODY.proposta MAIN h3 {
    counter-reset: h4;
}
BODY.proposta MAIN h4 {
    counter-reset: h5;
}
BODY.proposta MAIN h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}
BODY.proposta MAIN h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". "
}
BODY.proposta MAIN h4:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) ". "
}
BODY.proposta MAIN IMG {
    max-width: 100%;
    margin: 1rem 0rem;
    border: solid 1px $borderColor;
}
BODY.proposta MAIN PRE {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    overflow: auto;
}
/** Il codice nelle citazioni non deve avere lo sfondo colorato */
BODY.proposta MAIN .citazione PRE {
    background-color: transparent;
}

/** 
 * Stili per le domande.
 * Le domande sui dogmi sono OL, mentre quelle su Hitler sono UL.
 * Le OL hanno le lettere maiuscole come identificativi, 
 * le UL hanno lettere minuscole
 */
OL.domande {
    list-style-type: upper-alpha;
}
UL.domande {
    list-style-type: lower-alpha;
}
.domande {
    color: $domandeColor;
}
.domande LI {
    font-style: italic;
    padding-bottom: 0.5rem
}

/** Sili per i dogmi */
OL.dogmi {
    color: $dogmiColor;
}
OL.dogmi LI {
    font-variant: small-caps
}

/** Numeri romani per le cose da fare */
OL.da-fare {
    list-style-type: upper-roman;
}

/** Citazioni da testi */
DIV.citazione {
    color: $blockquoteColor;
    font-style: italic;
    font-size: 14pt;
    font-family: initial;
    padding:1rem;
    text-align:justify;
    max-width: 100%;
}

/**
 *  Copertina del documento
 *  Contiene il titolo, l'oggetto, i dati dell'autore e il finto
 *  indovinello della Settimana Enigmistica.
 *  Tutti gli elementi della testata sono visualizzati in maniera
 *  differente per web o stampa, vedi sotto @meda print
 */
SECTION.copertina {
    margin:auto;
    padding: 6.6% 1rem 0 ;
    counter-reset: h2;
    text-align:center;
}

SECTION.copertina H2  {
    font-size: 1.5rem;
    padding: 0;
}

SECTION.copertina H3  {
    font-size: 1.2rem;
    padding: 0;
    color: $h3CopertinaColor;
    margin-bottom: 2rem;
}

BODY.proposta SECTION.copertina H2:before ,
BODY.proposta SECTION.copertina H3:before {
    content: none;
}
BODY.proposta SECTION.copertina IMG {
    border: none;
}

SECTION.copertina DIV.dati LABEL {
    min-width: 6rem;
    display: inline-block;
    font-weight: bold;
}

LABEL {
    font-weight: bold;
}

LABEL:after {
    content: ':';
}

/**  Dedica e citazione in testa */
SECTION.dedica,
SECTION.citazione {
    font-style: italic;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-left: 40%;
    padding-bottom: 5rem;
    text-align: right;
    page-break-after: always;
}

SECTION.citazione SPAN {
    font-style: normal
}

/**
 *
 *  Stili per la gestione delle note a piè di pagina
 *
 */
A.nota {
    font-size: 0.8rem;
    color: $aNotaColor;
    text-decoration: underline;
    vertical-align: super;
    display: inline-block;
    margin-left: 0.12rem; 
}

SECTION.note {
    page-break-before: always;
    padding: 3rem 0;
}
SECTION.note OL ,
SECTION.bibliografia UL {
    font-size: 1rem;
    margin-left: 0;
    padding: 0 1rem;
}
SECTION.note LI ,
SECTION.bibliografia LI {
    margin-bottom: 0.5rem;
}
SECTION.note OL LI A {
    word-break: break-all;
}

/**
 *
 *  Stili per elenco log
 *
 */
SECTION.elenco.post DIV.log {
    padding-bottom: 2rem;
} 
SECTION.elenco.post DIV.log P {
    margin-top: unset;
} 
SECTION.elenco.post DIV.log P.data {
    color: $dataColor;
    font-size: 0.9rem;
} 

/**
 *
 *  Stili per pagina con note
 *
 */
BODY.pagina.log MAIN P.category {
    font-family: Inconsolata;
    text-align: center;
} 

BODY.pagina.log MAIN P.tag {
    font-size: 0.9rem;
    font-family: Inconsolata;
    margin: 3rem auto 2rem;    
    width: 66%;
    text-align: center;
}

BODY.pagina.log  P.data {
    color: $dataColor;
    font-size: 0.9rem;
    padding-bottom: 2rem;           
    text-align: right; 
} 

/**
 *  Stili per mobile
 */
@media only screen and (max-width: 420px) {

    BODY {
    }
    H1 {
        font-size: 1.75rem;
    }
    H2 {
        font-size: 1.2rem
    }
    UL, OL {
        padding: 0 1rem 0 1.5rem;
    }
    BODY.pagina HEADER titolo-1 {
        font-size: 1.5rem;
    }
    BODY.pagina HEADER titolo-2 {
        font-size: 1rem;
    }
    BODY.index HEADER DIV.box.titoli, 
    BODY.manuale.copertina HEADER DIV.box.titoli {
        width: auto;    
    }
    BODY.index HEADER titolo-1, 
    BODY.manuale.copertina HEADER titolo-1 {
        padding: 0;
    }
    BODY.index HEADER img.logo, 
    BODY.manuale.copertina HEADER img.logo {
        width: 200px;
        height: auto;
    }
    BODY.pagina MAIN OL {
        text-align: left;
    }

    NAV.menu-top DIV.box {
        display: block;
    }

    NAV.menu-top A {
        font-size: 14pt;
        padding: 0;
    }

    DIV.testo P {
        text-align: left
    }

}
