@charset "UTF-8";
/** proposta.css Foglio di stile per la stampa dei documenti di C'hi++. @category   Stylesheet @package    C'hi++ @author     Carlo Simonelli <cs@chiplusplus.org> @version    0.7.7 @since      0.4.0 */
/* Equazione di Einstein  */
.einstein P { padding: 0.25rem 1rem; font-size: 2rem; }

/** Titoli numerati */
BODY.proposta MAIN h1 { counter-reset: h2; }

BODY.proposta MAIN h2 { counter-reset: h3; padding-top: 1rem; }

BODY.proposta MAIN h3 { counter-reset: h4; }

BODY.proposta MAIN h4 { counter-reset: h5; }

BODY.proposta MAIN h2:before { counter-increment: h2; content: counter(h2) ". "; }

BODY.proposta MAIN h3:before { counter-increment: h3; content: counter(h2) "." counter(h3) ". "; }

BODY.proposta MAIN h4:before { counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "; }

BODY.proposta MAIN IMG { max-width: 100%; margin: 1rem 0rem; }

/** Elenchi puntati e numerati  */
UL, OL, PRE { margin: 1rem 0; padding-left: 2rem; }

UL :first-child, ol :first-child { margin-top: 0; }

/** Stili per le domande */
OL.domande { list-style-type: upper-alpha; }

.domande { color: #060; }

.domande LI { font-style: italic; padding-bottom: 0.5rem; }

/** Sili per i dogmi */
OL.dogmi { color: #a58201; }

OL.dogmi LI { font-variant: small-caps; }

/** Numeri romani per le cose da fare */
OL.da-fare { list-style-type: upper-roman; }

/** Citazioni da testi */
DIV.citazione { color: #555; font-style: italic; padding: 1rem; text-align: justify; line-height: 1; max-width: 100%; }

/** Copertina del documento Contiene il titolo, l'oggetto, i dati dell'autore e il finto indovinello della Settimana Enigmistica. Tutti gli elementi della testata sono visualizzati in maniera differente per web o stampa, vedi sotto @meda print */
SECTION.copertina { margin: none; padding: 6.6% 1rem 0; height: 200mm; counter-reset: h2; text-align: center; }

SECTION.copertina H2 { font-size: 1.5rem; padding: 0; }

SECTION.copertina H3 { font-size: 1.2rem; padding: 0; color: #333; margin-bottom: 2rem; }

SECTION.copertina H2:before, SECTION.copertina H3:before { content: none; }

SECTION.copertina DIV.dati LABEL { min-width: 6rem; display: inline-block; font-weight: bold; }

SECTION.copertina DIV.dati LABEL:after { content: ':'; }

/**  Dedica e citazione in testa */
SECTION.dedica, SECTION.citazione { font-style: italic; font-size: 0.9rem; margin: 0 auto; padding-top: 5rem; padding-left: 40%; padding-bottom: 5rem; text-align: right; page-break-after: always; }

SECTION.citazione SPAN { font-style: normal; }

/** Stili per la gestione delle note a piè di pagina */
A.nota { font-size: 0.8rem; color: #990; text-decoration: underline; vertical-align: super; display: inline-block; margin-left: 0.12rem; }

SECTION.note { page-break-before: always; padding-bottom: 3rem; }

SECTION.note OL, SECTION.bibliografia UL { font-size: 0.9rem; margin-left: 0; }

SECTION.note LI, SECTION.bibliografia LI { margin-bottom: 0.5rem; }

SECTION.note OL LI A { word-break: break-all; }

/*# sourceMappingURL=proposta.css.map */