@charset "UTF-8";
.bianconero { -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ filter: grayscale(100%); }

/** Stili comuni. */
* { margin: 0; padding: 0; }

BODY { background: #ffffff; color: #000000; font-family: Simonetta, Calibri, Arial, sans-serif; font-size: 15pt; text-align: center; padding: 1rem 0 2rem 0; position: relative; display: block; }

HEADER { padding: 0 1rem; }

HEADER img.logo { width: 200px; max-width: 90%; display: inline-block; }

FOOTER { padding-top: 3rem; }

H1, H2, H3, H4 { margin: auto; text-align: left; }

H1 { padding-top: 1rem; padding-bottom: 1rem; font-size: 2.5rem; text-align: center; }

H2 { font-variant-caps: petite-caps; font-size: 1.5rem; }

H3 { font-size: 1.2rem; margin-top: 1rem; color: #666; }

HR { border: none; text-align: center; margin-bottom: 1rem; }

HR:before { content: '氣'; }

P { margin-bottom: 1rem; }

CODE { text-align: left; }

I { color: #555; }

A { color: #333; }

DIV { display: inline-block; }

TABLE, TD, TR { border-collapse: collapse; border: solid 1px #999; padding: 0.25rem 0.5rem; }

OL { padding: 0 2rem; margin: 1rem 0; }

/** Stili dei menu */
NAV { border-top: solid 1px; display: inline-block; border-bottom: solid 1px; margin: 1.5rem auto 1rem auto; border-color: #990; }

NAV A { font-variant-caps: petite-caps; font-size: 12pt; font-weight: bold; display: inline-block; padding: 0.5rem 1rem; }

NAV A#spazionismo { display: none; }

.fa { margin-left: 0.25rem; color: #888; }

/** Stili per il corpo della pagina. */
MAIN { width: 32rem; max-width: 90%; display: inline-block; margin: auto; text-align: justify; position: relative; padding-top: 1rem; }

MAIN.bozza { background-color: #f0f0f0; padding: 5rem 1rem; }

MAIN.bozza::before { content: "BOZZA"; font-size: 1rem; font-weight: bold; position: absolute; top: 2rem; left: 2rem; font-family: Monaco; }

MAIN P.immagine { margin: 1rem auto; text-align: center; }

MAIN P.immagine.chi { margin: 0.5rem auto; }

MAIN P.immagine IMG { border: solid 1px #999; text-align: center; max-width: 100%; }

MAIN BLOCKQUOTE { color: #444; text-align: left; font-size: 14pt; padding: 0em 1em 1em 1em; font-style: italic; }

@media only screen and (max-width: 420px) { DIV.testo P { text-align: left; } }

/** Stili per la pagina index */
HEADER DIV#top { width: 100%; max-width: 610px; font-size: 0; position: relative; margin: auto; display: block; }

BODY.index HEADER H2 { margin-bottom: 0.5rem; }

BODY.index HEADER img.logo { width: 300px; max-width: 90%; display: inline-block; }

/** Stili per la pagina FAQ */
BODY.faq HEADER H1 { display: none; }

BODY.faq HEADER H2 { display: inline-block; float: right; line-height: 80px; padding: 0 1rem; }

BODY.faq HEADER img.logo { height: 80px; width: auto; display: inline-block; }

BODY.faq SECTION { padding: 1rem; }

/** Stili per il manuale */
BODY.manuale { padding-top: 1rem; height: 90vh; }

BODY.manuale HEADER H1 { display: none; }

BODY.manuale HEADER H2 { padding: 4rem 0; text-transform: capitalize; }

BODY.manuale MAIN { text-align: justify; }

BODY.manuale MAIN P A { color: #990; }

BODY.manuale MAIN UL { margin: 1rem 0; padding-left: 2.5rem; }

BODY.manuale BLOCKQUOTE.incluso { color: #543; text-align: justify; padding: 1rem; background: #e4e6c1; margin: 1rem 0; }

BODY.manuale BLOCKQUOTE.motto { text-align: right; padding: 2rem 0 5rem 0; font-size: 0.9em; }

BODY.manuale CODE { max-width: 90%; display: block; padding: 1rem; font-size: 10pt; background: #f0f0f0; font-family: Monaco; }

BODY.manuale FOOTER { position: relative; display: block; text-align: center; width: 100%; }

BODY.manuale IMG.logo { width: 300px; max-width: 90%; display: inline-block; }

/** Tabella per le aree di memoria */
TABLE.memoria { margin-bottom: 1rem; }

TABLE.memoria TR { background: inherit; font-family: Monaco; font-size: 10pt; }

TABLE.memoria TD { width: 20px; height: 20px; }

TABLE.memoria TD.area { background: #aaa; }

BODY.manuale.copertina { padding-top: 2rem; }

BODY.manuale.dedica MAIN { margin: 25vh auto 15vh auto; }

BODY.manuale.dedica MAIN P { text-align: center; max-width: 20rem; margin: auto; }

BODY.manuale.indice H3.bozza A { color: #999; }

BODY.manuale.indice H3 { margin: 1rem 0; }

BODY.manuale.indice H3.home { margin-top: 4rem; }

BODY.manuale.indice MAIN { width: auto; text-align: center; }

BODY.manuale.indice IMG.logo { width: 100px; margin: auto; }

BODY.manuale.indice SECTION.indice { text-align: center; }

/** Stili per mobile */
@media only screen and (max-width: 420px) { DIV.testo P { text-align: left; } }

/*# sourceMappingURL=styles.css.map */