<!DOCTYPE html>
<html lang="{{ site.lang | default: "it-IT" }}">
{%- include head.html -%}
<body class="manuale {{ page.class }} ">
    <div class="page {{ page.class }}">
        <header>
            {%- include man-menu.html -%}
        </header>
        <main class="corpo {{ page.status }} ">

            <img class="logo"
                alt="C'hi++"
                title="C'hi plus plus"
                src="/assets/img/chi-enso.png">

            <h1>{{ page.h1 }}</h1>

            <h2>{{ page.h2 }}</h2>

            <section id="info">
                <table>
                    <tr>
                        <td><i class="fa fa-home" aria-hidden="true"></i></td>
                        <td>{{ site.data.strings[page.lang].legenda_home }}</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-github fa-2x" aria-hidden="true"></i></td>
                        <td>{{ site.data.strings[page.lang].legenda_github }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-chevron-left" aria-hidden="true"></i></td>
                        <td>{{ site.data.strings[page.lang].legenda_prev }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
                        <td>{{ site.data.strings[page.lang].legenda_next }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-angle-double-up" aria-hidden="true"></i></td>
                        <td>{{ site.data.strings[page.lang].legenda_top }}</td>
                    </tr>
                </table>
            </section>
        </main>
    </div>
  </body>
</html>
