<!DOCTYPE html>
<html lang="{{ site.lang | default: "it-IT" }}">

{%- include head.html -%}

<body class="manuale {{ page.class }} ">

    <div id="page">

        <header>
            
            {%- include man-menu.html -%}
    
        </header>

        <main 
        {% if page.bozza %}class="bozza"
        {% elsif page.redazione %}class="redazione"
        {% endif %}
        >
            
        {% if page.class == "capitolo" %}

            

            <h1>
                {{ page.title }}
            </h1>

            <blockquote class="motto">{{ page.quote }}</blockquote>

            <section id="testo">

                {{ content}}

            </section>
            
        {% else %}
            
            {{ content}}
            
        {% endif %}

        
        </main>

        {% if page.index > 0  %}
        {%- include man-footer.html -%}
        {% endif  %}

    </div>

  </body>

</html>
